@charset "utf-8";
/* CSS Document */

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;  
}
section.webBox .slides a{
	opacity:1;
	
}
section.webBox .slides a img {
	border: none;
}
 
#abgne-block-20110406 {
	margin:0 auto;
	width: 272px;	/* 框架圖片的寬 */
	height: 560px;	/* 框架圖片的高 */
	position: relative;
	background: url(../images/app/iPhone4.png);
	/*margin-left:220px;*/
}
 
#abgne-block-20110406 a.prev, #abgne-block-20110406 a.next {
	position: absolute;
	top: 200px;
	display: block;
	width: 56px;	/* 左右鈕圖片的寬 */
	height: 53px;	/* 左右鈕圖片的高 */
	text-indent: -9999px;
}
 
#abgne-block-20110406 .prev {
	background: url(../images/app/left.png) no-repeat;
	left:-50px;
}
 
#abgne-block-20110406 .next {
	background: url(../images/app/right.png) no-repeat;
	right:-50px;
}
 
#abgne-block-20110406 .slides {
	overflow: hidden;
	position:absolute;
	top: 92px;
	left: 26px;
	width: 220px;	/* 框架中間區塊的寬 */
	height: 331px;	/* 框架中間區塊的高 
	*/
}
 
#abgne-block-20110406 .slides ul {
	position: absolute;
	width: 9990px;
	height: 100%;
}
 
#abgne-block-20110406 .slides li {
	width: 220px;	/* 框架中間區塊的寬 */
	height: 100%;
	float: left;
	padding:0;
}
@media screen and (max-width: 425px){ 
section.webBox .slides a{
	opacity:1;
	
}
section.webBox .slides a img {
	border: none;
}
 
#abgne-block-20110406 {
	margin:0 auto;
	width: 272px;	/* 框架圖片的寬 */
	height: 560px;	/* 框架圖片的高 */
	position: relative;
	background: url(../images/app/iPhone4.png);
	/*margin-left:220px;*/
}
 
#abgne-block-20110406 a.prev, #abgne-block-20110406 a.next {
	position: absolute;
	top: 200px;
	display: none;
	width: 56px;	/* 左右鈕圖片的寬 */
	height: 53px;	/* 左右鈕圖片的高 */
	text-indent: -9999px;
}
 
#abgne-block-20110406 .prev {
	background: url(../images/app/left.png) no-repeat;
	left:-50px;
}
 
#abgne-block-20110406 .next {
	background: url(../images/app/right.png) no-repeat;
	right:-50px;
}
 
#abgne-block-20110406 .slides {
	overflow: hidden;
	position:absolute;
	top: 92px;
	left: 26px;
	width: 220px;	/* 框架中間區塊的寬 */
	height: 331px;	/* 框架中間區塊的高 
	*/
}
 
#abgne-block-20110406 .slides ul {
	position: absolute;
	width: 9990px;
	height: 100%;
}
 
#abgne-block-20110406 .slides li {
	width: 220px;	/* 框架中間區塊的寬 */
	height: 100%;
	float: left;
	padding:0;
}
}